<div class="container">
  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
        <% @servers.each do |s| %>
        <tr>
          <td>
            <% if s.repositories.present? %>
              <%= link_to "#{s.hostname}", repository_path(s.repositories.first.name), :id => "#{s.hostname}" %>
            <% else %>
              <span class="text-muted"><%= s.hostname %></span>
            <% end %>
          </td>
          <td>
            <% if s.ip %>
              <span class="badge badge-repos badge-default"><%= s.ip %></span>
            <% end %>
            <% if s.pupgraded %>
              <span class="badge badge-repos badge-default">pupgraded</span>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
