<nav class="navbar navbar-toggleable-sm navbar-inverse sticky-top" style="background-color: #6bb5ea;">
  <%= link_to image_tag('logo.svg') + ' Quimby', root_path, class: "navbar-brand" %>
    <ul class="navbar-nav mr-auto">
      <% if current_page?(repositories_path) || current_page?(root_path) %>
      <li class="nav-item active">
      <% else %>
      <li class="nav-item">
      <% end %>
        <%= link_to 'Repositories', repositories_path, class: 'nav-link' %>
      </li>
      <% if current_page?(servers_path) %>
      <li class="nav-item active">
      <% else %>
      <li class="nav-item">
      <% end %>
        <%= link_to 'Servers', servers_path, class: 'nav-link' %>
      </li>
    </ul>
</nav>
