@import "bootstrap";

.badge-repos {
  border-radius: 3px;
  font-weight: normal;
  line-height: 1.2;
}

// css for the devise forms
.panel-boundary {
  border: 0.2rem solid #f7f7f9;
  border-radius: 4px;
  padding: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  background-color: #f7f7f9;
}
