@import "bootstrap";

.badge-repos {
  border-radius: 3px;
  font-weight: normal;
  line-height: 1.2;
}

.badge-repos a:link {
  color: #FFFFFF
}

.badge-repos a:visited {
  color: #FFFFFF
}

.fixed-top-2 {
    position: sticky;
    top: 57px;
}
